.App {
    font-family: sans-serif;
    text-align: center;
}
  
.logo {
    width: 200px;
}

.footer {
    background: red;
    height: .5rem;
    width: 100%;
    position: relative;
    bottom: 0;
}